<header class="header">
  <div class="title">
    <h4>Folder structure</h4>
  </div>
</header>

<div class="root-btn-wrapper">
  <button class="root-btn" (click)="insertRootNode()">add root level folder</button>
</div>

<div class="folder-structure">
  <ul class="node-list main-list">
    <ng-container
      *ngTemplateOutlet="listTemplate; context: { treeList: treeList }"
    ></ng-container>
  </ul>

  <ng-template #listTemplate let-list="treeList">
    <li
      *ngFor="let node of list; let i = index"
      [ngClass]="{ file: node.type === 'file', folder: node.type === 'folder' }"
    >
      <div class="node-name" *ngIf="!node.isEditable">
        <span (click)="editNode(node)">{{ node.name }}</span>
        <i
          class="fa fa-plus-circle"
          (click)="insertNodeIntoTree(node)"
          role="button"
          aria-label="add child node"
          *ngIf="node.type === 'folder'"
        ></i>
        <i
          role="button"
          aria-label="remove current node"
          class="fa fa-trash"
          (click)="removeNodeFromTree(list, node.id)"
        ></i>
      </div>
      <span
        [ngClass]="{
          'display-file-icon': node.type === 'file',
          'display-folder-icon': node.type === 'folder'
        }"
      ></span>

      <ng-container *ngIf="node.isEditable">
        <div class="node-name-edit">
          <input type="text" value="{{ node.name }}" #nameInput />
          <i
            class="fa fa-check-circle"
            role="button"
            aria-label="add node"
            (click)="updateTreeNodeName(node, nameInput.value)"
          ></i>
          <i
            class="fa fa-times-circle"
            role="button"
            aria-label="remove node"
            (click)="updateTreeNodeName(node, node.name)"
          ></i>
        </div>
      </ng-container>

      <ng-container *ngIf="node.type === 'unset'">
        <button (click)="addFileOrFolderToTreeNode(node, 'file')">file</button>
        <button (click)="addFileOrFolderToTreeNode(node, 'folder')">folder</button>
      </ng-container>

      <ul *ngIf="node.children.length > 0" class="node-list child-ul">
        <ng-container
          *ngTemplateOutlet="
          listTemplate;
            context: { treeList: node.children }
          "
        >
        </ng-container>
      </ul>
    </li>
  </ng-template>
</div>
